
/* ------------------- CSS for footer ---------------------- */

.footer {
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  height: fit-content;
  padding: 20px 0px;
}

.footer a {
  margin: 0 10px;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px 10px;
}

.footer a:hover {
  color: #61dafb;
}

.footer div {
  text-align: center;
  margin: 5px 10px;
  font-size: 1.5rem;
}

.footer div:nth-child(2) {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    height: 110px;
  }
  .footer>div { 
    order: 2;
    flex: 1 1 100%;
  }
}



/* ------------------- CSS for Navbar ---------------------- */

.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-container {
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1;
  background-color: white;
  border-bottom: 0;
}

.nav-logo img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  animation: spin 3s linear infinite;
}
.nav-logo img:hover {
  cursor: pointer;
}


.nav-item {
  list-style: none;
  text-align: center;
  margin: 10px 10px;
}

.nav-links {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  text-align: center;
}

.nav-links:hover {
  color: #61dafb;
}

.nav-button {
  box-sizing: border-box;
  background-color: #61dafb;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid transparent
}

.nav-button:hover {
  background-color: #61dafb;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
}

.nav-button a:hover{
  color: black;
}


@media (min-width: 768px) {

  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

  }

  .nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
 }

  .menu-icon {
    display: none;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ------------------- CSS for Pricing ---------------------- */
.pricing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.pricing h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.pricing h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.pricing h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.pricing h4 {
  font-size: 1.5rem;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .pricing__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.pricing__card {
  border: 1px solid #61dafb;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



/* ------------------- CSS for Home ---------------------- */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}


.home-text {
  display: flex;
  flex-direction: row;
}

.home-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.home-text-wrapper h1 {
  font-size: 2rem;
  margin: 10px 0;
}


.home-buttons button {
  background-color: #61dafb;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.home-buttons button:hover {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
}

/* make the home page responsive */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .home-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .home-buttons button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .home-image {
    width: 100%;
    height: 100%;
  }
}


/* ------------------- CSS for Pricing ---------------------- */

.pricing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.pricing h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.pricing h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.pricing h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.pricing h4 {
  font-size: 1.5rem;
  margin: 10px 0;
}

@media (min-width: 768px) {

  .pricing__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.pricing__card {
  border: 1px solid #61dafb;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



/* ------------------- CSS for Courses ---------------------- */

.courses-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 10px;
}

.courses-content h1 {
  font-size: 2rem;
  margin: 10px 0;
}

/* make a grid for the courses */
.courses-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 0 10px;
}

/* make the cards for the courses */
.course {
  border: 1px solid #61dafb;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* make the cards responsive */
@media (min-width: 768px) {
  .courses-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .courses-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* make hover effect for the cards */
.course:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  background-color: #61dafb;
}




/* ------------------- CSS for Content ---------------------- */

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 10px;
}

.content-container h1 {
  font-size: 2rem;
  margin: 10px 0;
}


.content-container h3 {
  font-size: 1.5rem;
  margin: 30px 0 0 0;
  text-align: left;
  align-self: flex-start;
}

/* design the comparison table */
table {
  border-collapse: collapse;
  width: 100%;
}

th:first-child, td:first-child {
  text-align: left;
  padding: 8px;
}


th,
td {
  text-align: center;
  padding: 8px;
  font-size: 1.2rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.ioIosCheckmarkCircle {
  color: green;
  font-size: 2rem;
}

.ioIosCloseCircle {
  color: red;
  font-size: 2rem;
}

.info-text {
  display: none;
}

.info-1{
  font-size: 1rem;
}

.info-1:hover~.info-text {
  display: block;
}



/* ------------------- CSS for Person ---------------------- */


.test-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin: 0 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  
}

.test-header {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  margin-top: 10%;
}



.test-teacher, .test-student {
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid #61dafb;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  background-color: #61dafb;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.test-teacher:hover, .test-student:hover {
  color: #61dafb;
  background-color: white;
  cursor: pointer;
}

.test-teacher {
  grid-column: 1;
  grid-row: 2;
}

.test-student {
  grid-column: 1;
  grid-row: 3;
}

@media (min-width: 768px) {
  .test-container {
    justify-items: center;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
  }
  .test-teacher {
    grid-column: 1;
    grid-row: 2;
    margin-right: 50px;
  }
  .test-student {
    margin-left: 50px;
    grid-column: 2;
    grid-row: 2;
  }
}

/* simple animation for the teacher and student cards */

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.test-teacher:hover, .test-student:hover {
  animation: bounce 0.5s ease-in-out;
}


/* ------------------- CSS for Login ---------------------- */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 10px;
}

.login-container h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.login-container h3 {
  font-size: 1.5rem;
  margin: 30px 0 0 0;
  text-align: left;
  align-self: flex-start;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #61dafb;
  border-radius: 20px;
  padding: 20px;
}

.login-container form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #61dafb;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
}

.login-container form input:focus {
  outline: none;
}

.login-container form button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #61dafb;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #61dafb;
  color: white;
}

.login-container form button:hover {
  background-color: white;
  color: #61dafb;
  cursor: pointer;
}

.login-container form a {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #61dafb;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #61dafb;
  color: white;
  text-decoration: none;
}

.login-container form a:hover {
  background-color: white;
  color: #61dafb;
  cursor: pointer;
}
