.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
make the footer sticky to the bottom of the page
make the footer responsive
make the footer black with white text
make the footer have a height of 100px
make the footer have a width of 100%
make the footer have a display of flex
*/
.footer {
  position: sticky;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  height: fit-content;
}



/* CSS for footer */

.footer a {
  margin: 0 10px;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px 10px;
}

.footer a:hover {
  color: #61dafb;
}

.footer div {
  text-align: center;
  margin: 5px 10px;
  font-size: 1.5rem;
}

.footer div:nth-child(2) {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    height: 110px;
  }
  .footer>div { 
    order: 2;
    flex: 1 1 100%;
  }
}

