/* make container-azubi-start' a flexbox container and center the content */
.color {
  background-color: #f8f8f8;
}

.container-azubi-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 10px;  
  overflow: scroll;
  background-color: #f8f8f8;
}

/* max-width for the container-azubi-start should be the screen width */

/* the h2 should be aligned on the left side */

.container-azubi-start h2 {
  text-align: left;
  align-self: flex-start;
}

/* make a reposponsive margin for the container-azubi-start for mobile and desktop with a max-width */

@media (min-width: 768px) {
  .container-azubi-start {
    max-width: 1200px;
    margin: 20px auto;
    overflow-x: scroll;
    overflow-y: auto;
  }
}


.container-azubi-timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;  
}

.container-azubi-courses {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.azubi-courses{
  border: 1px solid black;
  border-color: rgba(0,0,0,0.2);
  margin-left: 20px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  /* center content in the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
}

.container-azubi-games {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}

.azubi-game{
    border: 1px solid black;
  border-color: rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  /* center content in the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
  }

.container-azubi-start h2 {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.11em;
    color: #000;
}

.container-azubi-start p {
    margin: 0;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.33em;
    color: rgba(0,0,0,0.5);
    font-weight: 700;
}
