/* make container-azubi-start' a flexbox container and center the content */

.container-azubi-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 10px;  
}

/* the h2 should be aligned on the left side */

.container-azubi-start h2 {
  text-align: left;
  align-self: flex-start;
}

/* make a reposponsive margin for the container-azubi-start for mobile and desktop with a max-width */

@media (min-width: 768px) {
  .container-azubi-start {
    max-width: 1200px;
    margin: 20px auto;
  }
}


.container-azubi-timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;  
}

.container-azubi-courses {
  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow-x: scroll;
  margin: 10px 0px;  
}

.azubi-courses{
  border: 3px solid black;
  margin-left: 20px;
  border-radius: 15px;
  padding: 5px;
  width: 300px;
  height: 300px;
  /* center content in the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}