/* make container-azubi-start' a flexbox container and center the content */
.color {
  background-color: #f8f8f8;
}

.container-azubi-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 10px;  
  overflow: scroll;
  background-color: #f8f8f8;
}

/* max-width for the container-azubi-start should be the screen width */

/* the h2 should be aligned on the left side */

.container-azubi-start h2 {
  text-align: left;
  align-self: flex-start;
}

/* make a reposponsive margin for the container-azubi-start for mobile and desktop with a max-width */

@media (min-width: 768px) {
  .container-azubi-start {
    max-width: 1200px;
    margin: 20px auto;
    overflow-x: scroll;
    overflow-y: auto;
  }
}


.container-azubi-timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;  
}

.container-azubi-courses {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.azubi-courses{
  border: 1px solid black;
  border-color: rgba(0,0,0,0.2);
  margin-left: 20px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  /* center content in the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
}


.azubi-courses.bg-blue {
  background-color: blue;
}

.azubi-courses.bg-green {
  background-color: green;
}

.azubi-courses.bg-yellow {
  background-color: yellow;
}

.azubi-courses.bg-red {
  background-color: red;
}

.course-name {
  color: white;
  text-shadow: 1px solid white;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px #000;
}



.container-azubi-games {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}

.azubi-game{
    border: 1px solid black;
  border-color: rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  /* center content in the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
  }

.container-azubi-start h2 {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.11em;
    color: #000;
}

.container-azubi-start p {
    margin: 0 20px;
    font-size: 18px;
    line-height: 1.33em;
    color: rgba(0,0,0,0.5);
    font-weight: 700;
}

.azubi-timeline-mid {
    margin: 0 30px;
    width: 30%;
    justify-content: center;
    text-align: center;
}

.azubi-timeline-arrow {
  color: rgba(0,0,0,0.5);
  font-size: 30px;
}

/* give the courses in container-azubi-courses a simple animation when the page is loaded */

@keyframes courses {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.azubi-courses {
  animation: courses 1s ease-in-out;
}

/* give the courses in container-azubi-courses a simple animation when hovered */

.azubi-courses:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* give the games in container-azubi-games a simple animation when hovered */

.azubi-game:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* give the games in container-azubi-games a simple animation when the page is loaded */

@keyframes games {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* make a border around azubi-timeline-mid so the focus of the user is on the timeline */

.azubi-timeline-mid {
  border: 1px solid black;
  border-color: rgba(0,0,0,0.2);
  border-radius: 15px;
  /* center content in the div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1),
              0 4px 12px rgba(0,0,0,0.1) inset;
  padding: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.azubi-timeline-mid p {
  margin: 0;
  font-size: 18px;
  line-height: 1.33em;
  color: rgba(0,0,0);
  font-weight: 700;
}





/* --------CSS for Games -------- */

.azubi-game {
  background-color: #61dafb;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
}

.azubi-game h3 {
  color: #ff0000;
  margin: 10px auto;
  padding: 5px;
  text-shadow: 3px 1px 1px #fff;
}

.azubi-game h3:hover {
  color: #ff0000;
  margin: 10px auto;
  padding: 5px;
  text-shadow: 3px 1px 1px #fff;
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.azubi-game h3 {
  animation: slideIn 1.5s ease-in-out;
}



